extends layout
block content
    form
        input(required='', type='text', id='inp')
        label(alt='请输入URL', placeholder='按下回车键进行查询')

    script.
        $('#inp').keypress(function (e) {
            var key = e.which;
            if(key == 13) {
                window.open('/?url=' + encodeURIComponent($('#inp').val()), '_blank');
            }
        });